.header {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 21px;
  font-weight: 600;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
}
.header-links {
  min-width: 450px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
.header-links > a {
  background: #ffc107;
  padding: 10px;
  border-radius: 8px;
}
.header-links :hover {
  color: grey;
}
.header-call {
  display: flex;
  font-weight: 100;
  flex-direction: column;
  background: #ffc107;
  border-radius: 8px;
  padding: 10px;
}
.header-call :hover {
  color: grey;
}
.header-call :first-child {
  display: block;
}
