.header {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  margin-bottom: 50px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
}
